.navbar-default{
	background: #fff !important;
	padding: 6px 0;
	margin: 0 !important;
}
#logo{
	height: 100%;

}
.line{
	width: 30%;
	border-top: 1px solid #ccc;
	margin: 10px auto;
}
.navbar-right{
	margin-top: 25px;
}
.navbar-brand{
	height: 100px !important;
}
.navbar-toggle{
	margin-top: 35px !important;
}
.navbar-default .navbar-nav>li>a{
	font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.cover{
	background: url('cover.jpg') no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;
}
.overlay{
	background: rgba(2, 2, 2, 0.7);
}
.cover .content{
	padding: 20ex;
}
.cover h2{
	color: #fff;
	font-size: 3em;
	text-align: center;
	letter-spacing: 3px;
	word-spacing: 6px;
	font-weight: bold;
}

.about{
	padding: 50px 0;
	text-align: center;
}
.about h2{
	color: #202020;
	font-size: 28px;
	letter-spacing: 2px;
	word-spacing: 6px;
	text-transform: uppercase;
	padding-bottom: 10px;
}
.about .content{
	margin-top: 20px;
}
.about .content p{
	font-size: 20px;
	margin-top: 10px;
	color: #5f5f5f;
	font-weight: 300;
	line-height: 156%;
	text-align: justify;
}